:root {
    /* background color site */
    --light-background-color: #ffffff;
    --medium-background-color: #bcd0e5;
    --accent-background-color: #ff9900;

    /* text color site */
    --light-text-color: #ffffff;
    --accent-text-color: #ff9900;
    --dark-text-color: #2f281e;
    --medium-text-color: #544837;
    --primery-text-color: #173a56;

    --shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

/* fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--medium-text-color);
    background-color: var(--light-background-color);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}

.section {
    padding: 20px 0;
}

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    line-height: 1.2;
    color: var(--dark-text-color);
    font-weight: 700;
}
.button {
    padding: 10px 20px;
    background-color: var(--accent-background-color);
    border-radius: 4px;
    color: var(--light-text-color);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    border: none;
    text-transform: capitalize;
}
.button:hover {
    background-color: var(--medium-background-color);
    color: var(--accent-text-color);
    box-shadow: var(--shadow);
}

/* header styles */
.header {
    font-size: 14px;
    padding-bottom: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo {
    width: 187px;
    height: px;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 14px;
}
.button--sign {
    background-color: transparent;
    border: 1px solid var(--medium-background-color);
    color: var(--primery-text-color);
}

/* hero styles */
.hero {
    padding: 30px 0;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 520px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-title {
    font-size: 44px;
    line-height: 1.2;
    color: var(--dark-text-color);
    font-weight: 700;
}
.hero-description {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.hero-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}
.button--primary {
    padding: 15px 40px;
    text-transform: none;
}
.button--secondary {
    padding: 15px 0;
    text-transform: none;
    background-color: unset;
    border: none;
    color: var(--accent-text-color);
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.button--secondary:hover {
    text-decoration: none;
    color: var(--primery-text-color);
    background-color: unset;
    box-shadow: none;
}
.icon {
    width: 20px;
    height: 20px;
    fill: var(--accent-text-color);
}
.button--secondary:hover .icon {
    fill: var(--primery-text-color);
}
.hero-image {
    width: 605px;
    height: 500px;
}

/* features styles */
.features {
    position: relative;
    padding-top: 110px;
    padding-bottom: 0;
}
.semi-circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2250px;
    height: 390px;
    background: linear-gradient(
        0deg,
        rgba(255, 229, 210, 0.63),
        rgba(255, 244, 229, 0)
    );
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    overflow: hidden;
}

.features-container {
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding-bottom: 90px;
}
.features-title {
    text-align: center;
    width: 540px;
    margin: 0 auto;
}
.features-content {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.features-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 240px;
}
.features-icon {
    width: 50px;
    height: 50px;
}
.features-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.features-subtitle {
    font-size: 22px;
    color: var(--dark-text-color);
    font-weight: 600;
}
.features-button {
    text-transform: uppercase;
    padding: 15px 32px;
    margin: 0 auto;
}

/* design styles */
.design {
    padding-top: 120px;
    padding-bottom: 0;
}
.design-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.text-title {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.item-title {
    font-size: 16px;
    color: var(--dark-text-color);
    font-weight: 700;
}
.design-image {
    width: 520px;
    height: 574px;
}

/* product styles */
.product {
    padding-top: 100px;
    padding-bottom: 0;
}
.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product-image {
    width: 535px;
    height: 521px;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.product-icon {
    width: 35px;
    height: 35px;
}
.product-text {
    width: 385px;
}

/* marketers styles */
.marketers {
    padding-top: 104px;
    padding-bottom: 0;
}
.marketers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.marketers-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}
.marketers-image {
    width: 542px;
    height: 609px;
}

/* footer styles */
.footer {
    padding-top: 146px;
    padding-bottom: 83px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 102px;
    border-top: 1px solid rgba(188, 208, 229, 0.49);
}
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 82px;
    height: 205px;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 130px;
    height: 205px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: flex-end;
    font-weight: 400;
}
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 325px;
}
.footer-input {
    padding: 15px 20px;
    border: 1px solid var(--medium-background-color);
    border-radius: 4px;
    width: 325px;
}
.footer-button {
    padding: 8px 15px;
    background-color: var(--accent-background-color);
    text-transform: none;
}
